




<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Penalties</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        <div class="col-auto">

          <select (change)="onInput2($event)" class="form-select w-auto">
            <option selected value="">All</option>
            <option value="DELAY">DEALY</option>
            <option value="LOSE">LOSE</option>
            <option value="DAMAGE">DAMAGE</option>

          </select>
        </div>

      </div><!--//row-->
    </div><!--//table-utilities-->
  </div><!--//col-auto-->
</div><!--//row-->





<div class="tab-content" id="orders-table-tab-content">
  <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover mb-0 text-left">
            <thead>
            <tr>
              <th class="cell">ID</th>
              <th class="cell">montant</th>
            <th class="cell">penalty Status</th>
              <th class="cell">type</th>
              <th *ngIf="keycloakService.getUserRoles().includes('ADMIN')" >Action</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let penalty of penaltiesFiltered">
              <td class="cell">{{penalty.id}}</td>
              <td class="cell">{{penalty.montant}}</td>
              <td class="cell">{{penalty.penaltyStatus}}</td>
              <td class="cell">{{penalty.penaltyType}}</td>
              <td>
                <button type="button" *ngIf="keycloakService.getUserRoles().includes('ADMIN')" (click)="routerAffect(penalty)" class="btn btn-outline-primary">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button type="button" *ngIf="keycloakService.getUserRoles().includes('ADMIN')"  (click)="dropPenalty(penalty)"  class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>

              </td>
              <!--<td class="cell"><span class="truncate">Lorem ipsum dolor sit amet eget volutpat erat</span></td>
              <td class="cell">John Sanders</td>
              <td class="cell"><span>17 Oct</span><span class="note">2:16 PM</span></td>
              <td class="cell"><span class="badge bg-success">Paid</span></td>
              <td class="cell">$259.35</td>
              <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
            </tr>-->






            </tbody>
          </table>
        </div><!--//table-responsive-->

      </div><!--//app-card-body-->
    </div><!--//app-card-->
    <nav class="app-pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link"  tabindex="-1" aria-disabled="true" (click)="previousPage()">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of paginationElements" [class.active]="page === currentPage">
          <a class="page-link"  (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link"  (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>

  </div><!--//tab-pane-->


</div><!--//tab-content-->




